@import "~primereact/resources/themes/saga-blue/theme.css";
@import "~primereact/resources/primereact.min.css";
@import "~primeicons/primeicons.css";

html {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
