@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.config {
  font-family: "Poppins", sans-serif;
  position: fixed;
  width: 320px;
  min-height: 200px;
  right: 24px;
  bottom: 25vh;
  z-index: 1000;
  padding: 16px;
  color: aliceblue;
  background-color: rgb(17, 18, 18);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__section__title {
    border-bottom: 1px solid rgb(227, 224, 224);
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__section__values {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    &__title {
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 16px;
    }
  }
  .items {
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(227, 224, 224);

    .item {
      display: flex;
      &__label {
        margin-left: 1rem;
        font-size: 12px;
        font-weight: 400;
        color: azure;
        text-transform: uppercase;
        margin-bottom: 8px;
      }
    }
  }
}
